<html lang='fr'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Inscription Confirmée - Bienvenue chez Hives !</title>
  </head>
  <body>
    <div
      style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;'
    >
      <p style='font-size: 16px;'>🎉 Félicitations ! Votre inscription a été
        confirmée avec succès.</p>
      <p style='font-size: 16px;'>Nous sommes ravis de vous compter parmi nous
        et de vous voir bientôt contribuer à la ruche Hives. Vous avez désormais
        accès à toutes nos fonctionnalités exclusives et prêt à explorer tout le
        potentiel de Hives.</p>
      <p style='font-size: 16px;'>Si vous avez des questions ou si vous avez
        besoin d'aide, n'hésitez pas à nous contacter à
        <a href='mailto:hivescontact@gmail.com'>hivescontact@gmail.com</a>. Nous
        sommes là pour vous aider !</p>
      <p style='font-size: 16px;'>Encore une fois, bienvenue dans la communauté
        Hives ! 🍯 Préparez-vous à une expérience extraordinaire.</p>
      <p style='font-size: 16px; font-weight: bold;'>Cordialement,</p>
      <p style='font-size: 16px; font-weight: bold;'>L'équipe Hives</p>
    </div>
  </body>
</html>