<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Confirmation de suppression de compte</title>
  </head>
  <body>
    <p>Nous vous confirmons par la présente que votre demande de suppression de
      compte a bien été traitée. Votre compte a été supprimé avec succès.</p>

    <p>Si vous avez effectué cette demande par erreur ou si vous avez des
      préoccupations, n'hésitez pas à
      <a href='mailto:[hivescontact@gmail.com]'>nous contacter</a>
      dans les plus brefs délais. Nous sommes là pour vous aider.</p>

    <p>Nous tenons à vous remercier pour avoir fait partie de notre communauté
      et nous espérons vous revoir bientôt. Si vous avez d'autres questions ou
      avez besoin d'assistance, n'hésitez pas à
      <a href='mailto:[hivescontact@gmail.com]'>nous contacter</a>.</p>

    <p>Merci encore et bonne journée !</p>

    <p>L'équipe Hives</p>
  </body>
</html>